@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

:root {
	--violet: hsl(257, 40%, 49%);
	--soft-magneta: hsl(300, 69%, 71%);
}

body {
	background-color: var(--violet);
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	margin: 1rem;
}
.container {
	text-align: center;
	padding: 10%;
	color: #fff;
	line-height: 1.5;
	position: relative;
	z-index: 1;
}

.background-mobile {
	position: absolute;
	z-index: -1;
	left: -15px;
	top: -15px;
}

.background-desktop {
	display: none;
}

.left {
	text-align: start;
}

.logo {
  cursor: pointer;
	width: 15vh;
}

.mockup {
	width: 100%;
	margin: 2.5rem 0;
}

#btn-register {
	padding: 15px 90px;
	border-radius: 25px;
	border: none;
	color: var(--violet);
}

.socials {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 3rem;
}

.socials button {
	border-radius: 50%;
	color: #fff;
	padding: 5px;
	background: none;
	border: 1px solid white;
	margin: 0 5px;
}

button:hover{
  cursor: pointer;
  background: var(--soft-magneta);
  transition: all 1s linear;

}

@media only screen and (min-width: 1440px) {
	.desktop-flex {
		display: flex;
	}

	.container {
		padding: 3rem;
	}
	.background-mobile {
		display: none;
	}

	.logo {
		width: 25vh;
	}

	.desktop-left-col {
		width: 200%;
	}

	.desktop-right-col {
		font-size: 24px;
		text-align: left;
		padding: 3rem;
	}

	#btn-register {
		padding: 20px 75px;
	}

	.socials {
		padding: 5px;
		margin: 0 4rem;
		justify-content: right;
	}
	.socials button {
		padding: 12px;
	}

	.background-desktop {
		display: inline-block;
		position: absolute;
		z-index: -1;
		top: -15px;
		left: 0;
	}
}
